body{
    font-size: 40pt;
    position: relative;
    background: black;
}
header{
    background-color: #252424;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 50;
}
header h1{
    display: none;
}
h1{
    font-family: "Lora", serif;
}
header nav .ioMenuMovile{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 0px 0px 0px 20px;
    padding: 5px;
}
header nav .ioMenuMovile img{
    width: 100%;
}
#card_menu{
    display: none;
    position: relative;
    height: 100%;
    width: 170px;
    top: -60px;
    left: 0px;
    border-right: 3px solid  #252424;
    border-bottom: 3px solid  #252424;
    z-index: 100;
    padding-bottom: 30px;
    background:  #252424;
}
#card_menu #logo_menu{
    width: 120px;
    height: 80%;
    margin-left: -20px;
}
#card_menu #logo_menu img{
    width: 100%;
}
#card_menu ul li{
    list-style: none;
    font-size: 28px;
    line-height: 70px;
}
#card_menu ul li a{
    text-decoration: none;
    display: inline-block;
    color: #e2fefe;
    --color1: #b1fdfe;
    --color2: #80fdff;
    --color3: #4ffcff;
    --color4: #1efbff;
    --color5: #00e9ec;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#slider{
    width: 100%;
    position: relative;
    height: 70vh;
}
#slider .slide{
    position: relative;
    width: 100%;
    top: -35px;
    left: 0px;
    background-color: #000000;
}
#slider #Inicio{
    width: 100%;
    height: 100%;
    font-family: "Lora", serif;
    text-align: center;
    padding-bottom: 50px;
    color: white;
}
#slider #Inicio .mainlogo{
    position: relative;
    width: 60vw;
    margin-left: 20vw;
    min-height: 430px;
}
#slider #Inicio .mainlogo h2, h2::after{
    font-size: 29px;
    padding-top: 80px;
}
#slider #Inicio .mainlogo h2 strong, h2 strong::after{
    font-size: 34px;
    display: block;
}
#slider #Inicio .mainlogo h2{
    color: azure;
    --color1: #ffc9f3;
    --color2: #ff93e7;
    --color3: #ca1f7b;
    --color4: magenta;
    --color5: #b81d70;
    text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 30px var(--color3),
    0 0 40px var(--color4),
    0 0 50px var(--color4);
}
#slider #Inicio .mainlogo h2 strong{
    color: #e2fefe;
    --color1: #b1fdfe;
    --color2: #80fdff;
    --color3: #4ffcff;
    --color4: #1efbff;
    --color5: #00e9ec;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#slider #Inicio .mainlogo figure img{
    width: 100%;
    max-width: 250px;
    margin-top: 0px;
}
#slider #Inicio .button_principal{
    text-decoration: none;
    font-size: 30px;
    width: 40%;
    height: 60px;
    margin: 5px 2.5%;
    border-radius: 11px 11px 11px 11px;
    position: relative;
}
#Contactame, #Contactame::after{
    color: black;
    background: linear-gradient(90deg in lch longer hue, oklch(105% 90% 0) 0 0);
    background-size: 500% 100%;
    animation: blend 30s infinite linear;
    left: 0px;
}
#Contactame::after{
    content: '';
    filter: blur(8px);
    position: absolute;
    left: 0px;
    mix-blend-mode: plus-lighter;
}
#Descargar{
    background: #5d5d5d;
    color: white;
    left: -30px;
    font-size: 25px;
}
#slider #Sobremi{
    width: 100%;
    height: 140%;
    font-family: "Lora", serif;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}
#Sobremi #informacion{
    width: 90%;
    margin-left: 5%;
    color: white;
    text-align: center;
}
#informacion h3, h3::after{
    font-size: 29px;
    padding-top: 30px;
}
#informacion h3 strong, h3 strong::after{
    font-size: 34px;
    display: block;
}
#informacion h3, h3::after, h3 strong, h3 strong::after{
    color: #e2fefe;
    --color1: #b1fdfe;
    --color2: #80fdff;
    --color3: #4ffcff;
    --color4: #1efbff;
    --color5: #00e9ec;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#informacion figure{
    width: 100%;
    height: 250px;
    align-items: center;
    margin-left: 0px;
    margin-top: -30px;
}
#informacion figure img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#informacion p{
    font-size: 20px;
    margin-top: -40px;
    text-align: left;
    font-family: "smooch_sans", sans-serif;
}
#informacion h3, #informacion h3::after, h4, h4::after{
    color: azure;
    --color1: #ffc9f3;
    --color2: #ff93e7;
    --color3: #ca1f7b;
    --color4: magenta;
    --color5: #b81d70;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#formacion{
    width: 90%;
    margin-left: 5%;
    color: white;
    text-align: left;
    font-size: 25px;
}
#formacion p, #formacion li{
    font-family: "smooch_sans", sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}
#formacion p{
    margin-top: -30px;
}
#certificaciones{
    width: 90%;
    margin-left: 5%;
    color: white;
    text-align: left;
    font-size: 25px;
}
#certificaciones p, #certificaciones li{
    font-family: "smooch_sans", sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}
#certificaciones #Cisco{
    margin-top: -30px;
}
#certificaciones #Udemy{
    margin-top: 10px;
}
#slider #Portafolio{
    width: 100%;
    height: 100%;
    font-family: "Lora", serif;
    text-align: center;
    padding-bottom: 50px;
    color: white;
}
#Portafolio{
    font-size: 40px;
}
#Portafolio .port_card{
    width: 380px;
    height: 500px;
    margin-bottom: 20px;
    top: 0px;
    left: 0%;
    position: relative;
    display: inline-block;
    --list: #ffbc00, #ff0058;
	--grad: linear-gradient(45deg, var(--list));
    border: solid 4px #0000;
    aspect-ratio: 7/ 10;
	border-radius: 40px;
	background: conic-gradient(rgb(0 0 0/ .75) 0 0) padding-box, 
		var(--grad) border-box;
    overflow: hidden;
}
#Port .port_card:nth-of-type(2) { 
    --list: #03a9f4, #ff0058 
}
#Port .port_card:nth-of-type(3) { 
    --list: #4dff03, #00d0ff 
}
.port_card::before{
    position: absolute;
		inset: 1;
		z-index: -1;
		background: var(--grad);
		filter: blur(.75em);
		content: ''
}
#Portafolio #pagina_db figure{
    width: 380px;
    right: 40px;
    top: -40px;
    position: relative;
}
#Portafolio #pagina_db figure img{
    width: 100%;
}
#Portafolio #pagina_db h5, #pagina_db h5::after{
    width: 100%;
    height: 50px;
    margin-top: -70px;
    margin-bottom: 30px;
    position: relative;
    font-size: 28px;
    color: #fef3e2;
    --color1: #fef3b1;
    --color2: #ffc680;
    --color3: #ffc14f;
    --color4: #ffb41e;
    --color5: #f39a00;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#Portafolio #pagina_db p{
    font-size: 15px;
}
#slider #Contacto{
    background: #0cd144;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: "Lora", serif;
    text-align: center;
    padding-bottom: 50px;
    color: white;
}
#button_contact{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 15px;
    top: 85vh;
    border-radius: 50%;
    z-index: 80;
    font-size: 45px;
    padding: 10px 0px 0px 10px;
    transition-duration: 0.5s;
    background: linear-gradient(90deg in lch longer hue, oklch(105% 90% 0) 0 0);
    background-size: 500% 100%;
    animation: blend 30s infinite linear;
}
#button_contact::after{
    content: '';
    filter: blur(8px);
  position: absolute;
  left: 0;
  mix-blend-mode: plus-lighter;
}
#button_contact:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px white;
}
#contact_form{
    width: 300px;
    height: 110%;
    position: absolute;
    background: #000000;
    right: 0px;
    top: 60px;
    z-index: 99;
    border-right: none;
    box-shadow: 0px 0px 10px #0a155c;
    font-family: "smooch_sans", sans-serif;
    display: none;
}
#contact_form #close_form{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 85%;
    top: 3px;
    font-size: 25px;
    text-align: center;
    transition-duration: 0.5s;
    color: azure;
    --color1: #ffc9f3;
    --color2: #ff93e7;
    --color3: #ca1f7b;
    --color4: magenta;
    --color5: #b81d70;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#contact_form #close_form:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 20px white);
}
#contact_form #logo_sobre{
    width: 100%;
    height: 150px;
    font-size: 130px;
    text-align: center;
    margin: 0px;
    color: black;
    color: #e2fefe;
    --color1: #b1fdfe;
    --color2: #80fdff;
    --color3: #4ffcff;
    --color4: #1efbff;
    --color5: #00e9ec;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#contact_form #hola{
    width: 80%;
    height: 30px;
    font-size: 28px;
    text-align: left;
    margin-left: 5px;
    color: azure;
    --color1: #ffc9f3;
    --color2: #ff93e7;
    --color3: #ca1f7b;
    --color4: magenta;
    --color5: #b81d70;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#contact_form input,
#contact_form textarea{
    display: block;
    margin: 10px;
    width: 90%;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 5px;
    margin-bottom: 40px;
    padding-bottom: 3px;
    font-size: 25px;
    background: #060606;
    color: azure;
    --color1: #ffc9f3;
    --color2: #ff93e7;
    --color3: #ca1f7b;
    --color4: magenta;
    --color5: #b81d70;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
#contact_form #button{
    border: none;
    border-radius: 30px 30px 30px 30px;
    transition-duration: 1s;
    background: linear-gradient(90deg in lch longer hue, oklch(105% 90% 0) 0 0);
    background-size: 500% 100%;
    animation: blend 30s infinite linear;
    left: 30px;
    color: black;
}
#contact_form #button:hover{
    cursor: pointer;
    box-shadow: 0px 8px 20px black;
}
#contact_form a, #contact_form a::after{
    display: inline-block;
    width: 25%;
    height: 40px;
    top: -20px;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    left: 20px;
    position: relative;
    color: azure;
    --color1: #ffc9f3;
    --color2: #ff93e7;
    --color3: #ca1f7b;
    --color4: magenta;
    --color5: #b81d70;
    text-shadow: 
    0 0 5px var(--color1),
    0 0 10px var(--color2),
    0 0 15px var(--color3),
    0 0 20px var(--color4),
    0 0 30px var(--color4);
}
footer{
    width: 100%;
    height: 130px;
    bottom: 0vh;
    background: #4f4f4f;
    color: white;
    text-align: center;
    z-index: 70;
    position: fixed;
    transition-duration: 0.7s;
    display: none;
}
footer .rrss{
    margin-top: 40px;
    width: 100%;
    height: 60px;
}
footer .rrss a{
    display: inline-block;
    width: 25%;
    height: 40px;
    color: white;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    left: 20px;
    position: relative;
}
footer p{
    font-size: 15px;
    font-family: "smooch_sans", sans-serif;
}
.neon{
    box-shadow: 0 0 40px hsl(0, 255, 255, 0.05);
    aspect-ratio: 1;
}
@media screen and (min-width: 480px){
}
@media screen and (min-width: 600px){
}
@media screen and (min-width: 768px){
    header{
        height: 100px;
    }
    header h1{
        display: inline-block;
        width: 45%;
        margin: 0px;
        height: 100px;
        margin-left: 10px;
        line-height: 80px;
    }
    header h1>a{
        color: white;
        text-decoration: none;
        vertical-align: middle;
        display: inline-block;
        font-size: 28px;
        margin: 0px;
    }
    header h1 figure{
        width: 70px;
        height: 70px;
        margin: 0px;
        margin-right: -20px;
    }
    header h1 figure img{
        width: 100%;
    }
    header nav{
        display: inline-block;
        vertical-align: right;
        height: 100%;
        width: 50%;
        position: relative;
        margin-top: -30px;
    }
    header nav #Menu, nav #hideMenu, nav figure{
        display: none;
    }
    nav #card_menu{
        display: active;
        display: inline-block;
        background: none;
        border: none;
        position: relative;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: right;
    }
    nav #card_menu ul{
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    nav #card_menu ul li{
        display: inline-block;
        width: 70px;
        text-align: center;
        font-size: 25px;
        margin: 0px;
        margin-top: 40px;
        line-height: normal;
    }
    #contact_form{
        top: 100px;
        height: 97%;
    }
    #contact_form input,
    #contact_form textarea{
        font-size: 25px;
    }
    #slider #Inicio .mainlogo h2{
        font-size: 40px;
        padding-top: 60px;
    }
    #slider #Inicio .mainlogo h2 strong{
        font-size: 45px;
    }
    #slider #Inicio .button_principal{
        font-size: 45px;
        width: 50%;
    }
    #Contactame, #Contactame::after{
        left: 30px;
    }
    #Descargar{
        left:30px
    }
    #slider #informacion {
        height: 350px;
        margin-top: 40px;
    }
    #slider #informacion h3{
        text-align: left;
    }

    #slider #informacion figure{
        position: absolute;
        width: 250px;
        right: 0px;
        top: 30px;
    }
    #slider #informacion p{
        width: 63%;
        margin-top: -20px;
    }
    #formacion{
        width: 45%;
    }
    #certificaciones{
        width: 45%;
        display: inline-block;
        margin-left: 50%;
        margin-top: -117px;    
    }
    #certificaciones h4{
    margin-top: 0px;
    }
    footer{
        bottom: -16vh;
        position: fixed;
        display: inline-block;
    }
    footer:hover{
        bottom: 0vh;
    }
    footer::before{
        content: '';
        border-style: solid;
        border-width: 30px 30px 30px 30px;
        border-color: transparent transparent #4f4f4f transparent;
        position: absolute;
        left: 50%px;
        top: -55px;    
        display: inline-block;
    }

}
@media screen and (min-width: 950px){
}
@keyframes blend {
    to { background-position: 500% 100%; }
}
@keyframes hue-rotation {
	from {
		--rotation: 0turn;
	}
	to {
		--rotation: 1turn;
	}
}
